<?php defined('SYSPATH') or die('No direct script access.');

/**
 * Short description of migration
 * 
 * Longer description of migration can go here
 * 
 * @author Author of Migration
 * @package Migration
 */
class Template_Migration extends Migration {
	public function up() {
		
	}
	public function down() {
		
	}
}
